@use '@angular/material' as mat;

.example-spacer {
    flex: 2 1 auto;
  }
  
  .cart{
    width: 30%;
  }
  .cart-mobile{
    width: 100%;
  }
  
  .close{
    display: flex;
    justify-content: end;
  
    button[mat-icon-button]{
      
      $large-size-button: 80px;
      $large-size-icon: 48px;
      
          &.icon-button-large {
            width: $large-size-button;
            height: $large-size-button;
            line-height: $large-size-button;
          .mat-icon {
            font-size: $large-size-icon;
            width: $large-size-icon;
            height: $large-size-icon;
            line-height: $large-size-icon;
          }
          .mat-button-ripple {
            font-size: inherit;
            width: inherit;
            height: inherit;
            line-height: inherit;
          }
        }
      }
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  .example-sidenav {
    width: max-content;
    height: 100vh;
    font-size: 1.4em;
  }
  
  .example-container {
    width: 100%;
    height: 100vh;
  }
  
  ul {
    display: flex;
    gap: 1em;
    height: 12vh;
    align-items: center;
  
    li {
      display: flex;
      list-style: none;
  
      height: inherit;
      align-items: center;
    }
  }
  .link {
    font-weight: 400;
    margin: 1em 1em 0em 1em;
  }
  .linkMobile {
    margin: 1.5em 1em 0em 1em;
  }
  .isactive {
    color: orange;
    text-decoration: underline;
    text-underline-offset: 0.6em;
  }

.mat-mdc-icon-button.mat-warn{
  --mdc-icon-button-icon-color: orange;
  --mat-icon-button-state-layer-color: orange;
  --mat-icon-button-ripple-color: rgba(255, 166, 0, 0.264);
}

mat-card {
  @include mat.elevation(0);
}
  
.checkout-button{
  padding: .2em 1em;
  border: 2px solid orange;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: color .2s;
  z-index: 2;
  font-family: "Poppins", sans-serif;
}
.checkout-button::before{
  content: " ";
  background-color: orange;
  z-index: -1;
  width: 140%;
  height: 320%;
  position: absolute;
  border-radius: 50%;
  left: -4.9em;
  top: -1.3em;
  transition: all .5s;
  font-family: "Poppins", sans-serif;
}

.checkout-button:hover{
  color: orange;
  font-family: "Poppins", sans-serif;
  
}

.checkout-button:hover::before{
  left: -48em;
  top: 1em;
  font-family: "Poppins", sans-serif;
}