<div class="container-fluid home">
  <div class="col-6">
    <h1>The Best Restaurants In Your Home</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor.
    </p>
    <div class="nice-select-one" style="display: flex; justify-content: center">
      <!-- <select class="nice-select Advice">
        <option
          class="option"
          data-display="Choose a Restaurants"
          disabled
          hidden
          selected
        >
          Choose a Restaurants
        </option>
        <option class="option" value="">Restaurants1</option>
        <option class="option" value="">Restaurants2</option>
        <option class="option" value="">Restaurants3</option>
      </select> -->
      <button class="button" style="padding: 0.4em" routerLink="food">Order Now</button>
    </div>
  </div>
  <div class="col-6">
    <div class="image-res">
      <img src="../../../assets/img/home/photo-1.png" alt="" />
    </div>
  </div>
</div>
<div class="container-fluid pb-5 works">
  <div class="heading">
    <h1 style="text-align: center">How It Works</h1>
    <p style="text-align: center; width: 50%; margin: 1.5em auto 0em auto">
      Magna sit amet purus gravida quis blandit turpis cursus. Venenatis tellus
      in metus vulputate eu scelerisque felis.
    </p>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-12 aos-init aos-animate"
        data-aos="flip-up"
        data-aos-delay="200"
        data-aos-duration="300"
      >
        <div class="work-card">
          <img alt="img" src="../../../assets/img/home/illustration-1.png" />
          <h4><span>01</span> Select Restaurant</h4>
          <p>
            Non enim praesent elementum facilisis leo vel fringilla. Lectus
            proin nibh nisl condimentum id. Quis varius quam quisque id diam
            vel.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 aos-init aos-animate"
        data-aos="flip-up"
        data-aos-delay="300"
        data-aos-duration="400"
      >
        <div class="work-card">
          <img alt="img" src="../../../assets/img/home/illustration-2.png" />
          <h4><span>02</span> Select menu</h4>
          <p>
            Eu mi bibendum neque egestas congue quisque. Nulla facilisi morbi
            tempus iaculis urna id volutpat lacus. Odio ut sem nulla pharetra
            diam sit amet.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 aos-init aos-animate"
        data-aos="flip-up"
        data-aos-delay="400"
        data-aos-duration="500"
      >
        <div class="work-card">
          <img alt="img" src="../../../assets/img/home/illustration-3.png" />
          <h4><span>03</span> Wait for delivery</h4>
          <p>
            Nunc lobortis mattis aliquam faucibus. Nibh ipsum consequat nisl vel
            pretium lectus quam id leo. A scelerisque purus semper eget.
            Tincidunt arcu non.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid food">
  <div class="col-6">
    <img src="../../../assets/img/home/photo-3.png" alt="" />
  </div>
  <div class="col-6">
    <h1>Food from your favorite restaurants to your table</h1>
    <p>
      Pretium lectus quam id leo in vitae turpis massa sed. Lorem donec massa
      sapien faucibus et molestie. Vitae elementum curabitur vitae nunc.
    </p>
    <button class="button" routerLink="food">Order Now</button>
  </div>
</div>

<div class="container-fluid subscribe">
  <div class="col-6">
    <img src="../../../assets/img/home/illustration-4.png" alt="" />
  </div>
  <div class="col-6">
    <h1>Get the menu of your favorite restaurants every day</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <span class="input-group mb-3">
            <span
              class="input-group-text"
              style="background-color: white; border: none"
              id="basic-addon1"
              ><mat-icon fontSet="material-icons-outlined" style="color: #cfcfcf;">notifications</mat-icon></span
            >
            <input
              type="text"
              placeholder="Enter your Email"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </span>
        </div>
        <div class="col-3 d-flex align-items-center">
          <button class="button">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
