<div class="container-fluid address">
  <div class="col-7">
    <h2>Contact Us</h2>
    <p>
      Egestas sed tempus urna et pharetra pharetra massa. Fermentum posuere urna
      nec tincidunt praesent semper.
    </p>
    <div class="row d-flex gap-5">
        <div class="col-4 card-contact">
            <mat-icon>location_on</mat-icon>
            <h5>1717 Harrison St, San Francisco, CA 94103, United States</h5>
        </div>
        <div class="col-4 card-contact">
            <mat-icon >email</mat-icon>
            <a href="mailto:quick.info@mail.net"><h6>quick.info{{'@'}}mail.net</h6></a>
            <span>Lorem ipsum dolor sit.</span>
            <a href="mailto:quick.info@mail.net"><h6>quick.info{{'@'}}mail.net</h6></a>
            <span>Dolore magna aliqua</span>
        </div>
        <div class="col-4 card-contact">
            <mat-icon >phone</mat-icon>
            <h5>+1 425 326 16 27</h5>
            <span>Et netus et malesuada</span>
            <h5>+1 425 326 16 27</h5>
            <span>Enim tortor auctor urna</span>
        </div>
    </div>
  </div>
  <div class="col-5">
    <img class="img-contact" src="../../../assets/img/home/contacts-1.png" alt="">
  </div>
</div>
