<div class="container-fluid aboutus">
    <div class="col-6">
        <h2>Nothing to worry about with Quickeat</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="col-6 imgage">
        <img class="img-home" src="../../../assets/img/home/photo-9.jpg" alt="">
    </div>
</div>
<div class="h-100 container-fluid mission d-flex pt-5">
    <div class="col-6">
        <img class="img-mission" src="../../../assets/img/home/illustration-5.png" alt="">
    </div>
    <div class="col-6">
        <h2>Our mission is to save you time</h2>
        <p>Viverra vitae congue eu consequat ac felis. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor. <br><br>

            Eget egestas purus viverra accumsan in nisl nisi scelerisque. Tincidunt augue interdum velit euismod in pellentesque.</p>
    </div>
</div>